[Desktop Entry]
Type=Application
Exec=$HOME/klemm-camera-viewer/checkout_and_build.sh
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name=MyApp